code.hljs {
  border: 1px solid #ccc;
  border-radius: 6px;
  display: block;
  margin: 10px 0;
  overflow: auto;
  padding: 12px;
  background: #fcfcfc;
}

.tabs-pane {
  padding-top: 10px;
}

.aui-tabs {
  padding-top: 10px;
}

.aui-group .aui-item:first-child {
  overflow-x: auto;
}
